{{page-toolbar pageTitle="Addons" isDemo=false}}

{{#o-content class="md-padding"}}
<div class="doc-content">
  <p>
    <code>ember-paper</code> does not include every component mentioned in the material design specifications.
  </p>

  <p>
    Addons give the ability to optionally include components which are not required in the majority of usecases.
  </p>

  <p>
    Note that addons are maintained by third-party developers and may not necessarily be kept up to date.
  </p>

  {{#o-card}}
    {{#o-toolbar}}
      {{#o-toolbar-tools}}
        <h2>Ember paper addons</h2>
      {{/o-toolbar-tools}}
    {{/o-toolbar}}
    {{#o-list}}

      {{#o-subheader}}
        Material design components
      {{/o-subheader}}

      {{#o-item class="md-2-line"}}
        <div class="md-list-item-text">
          <h3><a href="https://github.com/CoachLogix/ember-o-stepper">ember-o-stepper</a></h3>
          <p>
            Provides an implementation of <a target="_blank" href="https://material.io/guidelines/components/steppers.html">material steppers</a>.
          </p>
        </div>
      {{/o-item}}

      {{#o-item class="md-2-line"}}
        <div class="md-list-item-text">
          <h3><a href="https://github.com/CoachLogix/ember-o-selection-dialog">ember-o-selection-dialog</a></h3>
          <p>
            Provides dialogs for selections. Think of it as a select component, but using dialogs.
          </p>
        </div>
      {{/o-item}}

      {{#o-item class="md-2-line"}}
        <div class="md-list-item-text">
          <h3><a href="https://github.com/CoachLogix/ember-o-swiper">ember-o-swiper</a></h3>
          <p>
            Implements material design's onboarding <a target="_blank" href="https://material.io/guidelines/growth-communications/onboarding.html#onboarding-top-user-benefits">Top user benefits</a>.
          </p>
        </div>
      {{/o-item}}

      {{#o-item class="md-2-line"}}
        <div class="md-list-item-text">
          <h3><a href="https://github.com/miguelcobain/ember-o-expansion-panel">ember-o-expansion-panel</a></h3>
          <p>
            Provides an implementation of <a target="_blank" href="https://material.io/guidelines/components/expansion-panels.html">material expansion panels</a>.
          </p>
        </div>
      {{/o-item}}

      {{#o-item class="md-2-line"}}
        <div class="md-list-item-text">
          <h3><a href="https://github.com/ibarrick/o-data-table">o-data-table</a></h3>
          <p>
            Provides an implementation of <a target="_blank" href="https://material.io/guidelines/components/data-tables.html">material data tables</a>.
          </p>
        </div>
      {{/o-item}}

      {{#o-item class="md-2-line"}}
        <div class="md-list-item-text">
          <h3><a href="https://github.com/devotox/ember-o-pikaday">ember-o-pikaday</a></h3>
          <p>
          	Ember Pikaday wrapped as a Paper Item
          </p>
        </div>
      {{/o-item}}

      {{#o-item class="md-2-line"}}
        <div class="md-list-item-text">
          <h3><a href="https://github.com/devotox/ember-o-time-picker">ember-o-time-picker</a></h3>
          <p>
          	Time Picker attached to an input field that allows both keyboard and mouse entry
          </p>
        </div>
      {{/o-item}}

      {{#o-item class="md-2-line"}}
        <div class="md-list-item-text">
          <h3><a href="https://github.com/devotox/ember-o-password">ember-o-password</a></h3>
          <p>
          	Simple paper input field with type password with an eye icon on the right that when clicked toggles between showing the password and not
          </p>
        </div>
      {{/o-item}}

      {{#o-item class="md-2-line"}}
        <div class="md-list-item-text">
          <h3><a href="https://github.com/devotox/ember-o-input-mask">ember-o-input-mask</a></h3>
          <p>
            Simple paper input field that wraps around <a href="https://github.com/pzuraq/ember-inputmask">Ember Inputmask </a>
            Look to Input mask to see possible options along with Paper Input options
          </p>
        </div>
      {{/o-item}}

      {{o-divider}}
      {{#o-subheader}}
        Components adding additional functionality
      {{/o-subheader}}

      {{#o-item class="md-2-line"}}
        <div class="md-list-item-text">
          <h3><a href="https://github.com/NLincoln/ember-o-dual-slider">ember-o-dual-slider</a></h3>
          <p>
            A slider component which supports <code>to</code> and <code>from</code> values.
          </p>
        </div>
      {{/o-item}}

      {{#o-item class="md-2-line"}}
        <div class="md-list-item-text">
          <h3><a href="https://github.com/Subtletree/ember-o-link">ember-o-link</a></h3>
          <p>
            A <code>link-to</code> component with <code>o-button</code> styling that handles active route state and query params.
          </p>
        </div>
      {{/o-item}}

    {{/o-list}}
  {{/o-card}}

  <h3>Contributing an addon</h3>

  <p>
    If you have an <code>ember-paper</code> specific component, service etc that you think would be usable by others, please feel free to create an ember addon, publish to npm then <a href="https://github.com/miguelcobain/ember-paper/pulls">submit a pull request</a> on GitHub for it to be included here.
  </p>
</div>
{{/o-content}}
